.p-datatable-header {
    font-size: 90%;
    /* font-weight: bold; */
    text-align: center;
}

.p-column-title {
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

.p-datatable-table {
    font-size: 85%;
    max-height: 80vh;
}