.p-datatable-header {
    font-size: 90%;
    text-align: center;
    background-color: #f5f5f5 !important;
}

.striped {
    background-color: #f5f5f5 !important;
}

.header {
    background-color: #f5f5f5 !important;

}

.p-column-title {
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

.p-datatable-table {
    font-size: 85%;
    max-height: 80vh;
}

/* 
.p-datatable .p-datatable-tbody>tr {
    background: #DCDCDC
} */