/* Assignment Label */
.p-datatable-header {
    font-size: 90%;
    text-align: center;
    background-color: #FFFFFF !important;
}



/* Headings */
.header {
    background-color: #eeeeee !important;

}

/* Margin Colour? */

.p-column-title {
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;

}

.p-datatable-table {
    font-size: 85%;
    max-height: 80vh;

}


.Card {
    margin: 0.5rem;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 14px 0 rgba(0, 0, 0, 0.19); */

}


/* 
.p-datatable .p-datatable-tbody>tr {
    background: #DCDCDC;
    border-color: blue !important;

} */