.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.5rem;
}

.heading-banner {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.card {
    margin: 0%;
    background-color: #FFFFFF !important;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.12);

}

.add-button {
    height: 1rem !important;
    width: 1.5rem !important;

    border-radius: 100% !important;
    transition-property: background-color, border-colour, color;
    transition-duration: 150ms;
}

.add-button:hover {
    background-color: var(--primary-300) !important;
    border-color: var(--primary-300) !important;
}

.delete-button {
    background-color: rgba(255, 0, 0, 0.778) !important;
    border-color: rgba(255, 0, 0, 0.778) !important;
}