.bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    justify-content: start;
    position: fixed;
    z-index: 5;

    height: 100vh;
    width: var(--barWidth);

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-style: solid;
    border-color: var(--surface-300);
    border-width: 1px;
}

.navigation-button {
    text-align: left !important;
    font-size: .875rem !important;
    width: calc(var(--barWidth) - 1rem) !important;
    height: 3rem !important;
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border-color: white !important;

}

.system {
    color: var(--surface-900) !important;
    font-weight: bold !important;
    font-size: 100% !important;
    background-color: white !important;
}


.system:disabled {
    color: black !important;
}

.divider {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;


}


.system .p-button-label {
    font-size: medium;
}

.navigation-current {
    color: var(--primary-color) !important;
    background-color: var(--surface-300) !important;
}

.navigation-away {
    color: var(--text-color-secondary) !important;
    background-color: white !important;

}